<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.killerud.skydrive"
          android:versionCode="9"
          android:versionName="2.3">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <uses-sdk android:minSdkVersion="8"
              android:targetSdkVersion="14"/>

    <application
            android:label="@string/appName"
            android:name=".BrowserForSkyDriveApplication"
            android:theme="@style/LightTheme"
            android:debuggable="false"
            android:configChanges="orientation"
            android:uiOptions="splitActionBarWhenNarrow"
            android:icon="@drawable/icon">

        <activity android:name=".SignInActivity"
                  android:label="@string/appName">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity android:name=".BrowserActivity"
                  android:label="@string/mySkyDrive">
        </activity>

        <activity android:name=".SharingReceiverActivity"
                  android:label="@string/mySkyDrive">

            <intent-filter>
                <action android:name="android.intent.action.SEND"/>
                <action android:name="android.intent.action.SEND_MULTIPLE"/>
                <data android:mimeType="image/*"/>
                <data android:mimeType="text/*"/>
                <data android:mimeType="video/*"/>
                <data android:mimeType="application/pdf"/>
                <!-- Sadly most file types here are not allowed by MS. PDF one of the few. -->
                <data android:mimeType="audio/*"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>

        <activity android:name=".UploadFileActivity"
                  android:label="@string/uploadToSkyDrive"
                />

        <activity android:name=".FileBrowserActivity"
                  android:label="@string/savedFiles"
                />

        <activity android:name=".dialogs.NewFolderDialog"
                  android:label="@string/createFolder"
                  android:theme="@style/LightThemeDialog"
                />

        <activity android:name=".dialogs.PlayAudioDialog"
                  android:theme="@style/LightThemeDialog"/>

        <activity android:name=".PlayVideoActivity"
                  android:theme="@style/LightTheme"/>

        <activity android:name=".dialogs.ViewPhotoDialog"
                  android:theme="@style/LightThemeDialog"/>

        <activity android:name=".dialogs.RenameDialog"
                  android:theme="@style/LightThemeDialog"/>

        <activity android:name=".dialogs.SharingDialog"
                  android:theme="@style/LightThemeDialog"/>

        <activity android:name=".dialogs.DownloadDialog"
                  android:theme="@style/LightThemeDialog"/>

        <activity android:name=".SettingsActivity"
                  android:theme="@style/LightTheme"/>

        <activity android:name=".WebActivity"
                  android:theme="@style/LightTheme"/>

        <service android:name=".CameraImageAutoUploadService"
                 android:exported="false"
                 android:label="@string/serviceLabel"
                 android:permission="android.permission.INTERNET"/>

    </application>
</manifest> 
