<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.killerud.skydrive"
          android:versionCode="19"
          android:versionName="2.8">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <uses-sdk android:minSdkVersion="8"
              android:targetSdkVersion="14"/>

    <application
            android:label="@string/appName"
            android:name=".BrowserForSkyDriveApplication"
            android:theme="@style/LightTheme"
            android:debuggable="true"
            android:hardwareAccelerated="true"
            android:configChanges="orientation"
            android:uiOptions="splitActionBarWhenNarrow"
            android:icon="@drawable/icon">

        <activity android:name=".SignInActivity"
                  android:label="@string/appName">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEND"/>

                <data android:mimeType="audio/wav"/>
                <data android:mimeType="audio/x-wav"/>

                <data android:mimeType="image/*"/>

                <data android:mimeType="video/mp4"/>
                <data android:mimeType="video/3gpp"/>
                <data android:mimeType="video/3gpp2"/>
                <data android:mimeType="video/x-ms-wmv"/>
                <data android:mimeType="video/x-ms-wm"/>
                <data android:mimeType="video/x-msvideo"/>

                <data android:mimeType="application/pdf"/>
                <data android:mimeType="application/msword"/>
                <data android:mimeType="application/vnd.openxmlformats-officedocument.wordprocessingml.document"/>
                <data android:mimeType="application/vnd.openxmlformats-officedocument.wordprocessingml.template"/>
                <data android:mimeType="application/vnd.ms-powerpoint"/>
                <data android:mimeType="application/vnd.openxmlformats-officedocument.presentationml.presentation"/>
                <data android:mimeType="application/vnd.openxmlformats-officedocument.presentationml.template"/>
                <data android:mimeType="application/vnd.ms-excel"/>
                <data android:mimeType="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet"/>
                <data android:mimeType="application/vnd.openxmlformats-officedocument.spreadsheetml.template"/>


                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEND_MULTIPLE"/>

                <data android:mimeType="audio/wav"/>
                <data android:mimeType="audio/x-wav"/>

                <data android:mimeType="image/*"/>

                <data android:mimeType="video/mp4"/>
                <data android:mimeType="video/3gpp"/>
                <data android:mimeType="video/3gpp2"/>
                <data android:mimeType="video/x-ms-wmv"/>
                <data android:mimeType="video/x-ms-wm"/>
                <data android:mimeType="video/x-msvideo"/>

                <data android:mimeType="application/pdf"/>
                <data android:mimeType="application/msword"/>
                <data android:mimeType="application/vnd.openxmlformats-officedocument.wordprocessingml.document"/>
                <data android:mimeType="application/vnd.openxmlformats-officedocument.wordprocessingml.template"/>
                <data android:mimeType="application/vnd.ms-powerpoint"/>
                <data android:mimeType="application/vnd.openxmlformats-officedocument.presentationml.presentation"/>
                <data android:mimeType="application/vnd.openxmlformats-officedocument.presentationml.template"/>
                <data android:mimeType="application/vnd.ms-excel"/>
                <data android:mimeType="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet"/>
                <data android:mimeType="application/vnd.openxmlformats-officedocument.spreadsheetml.template"/>

                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>

        <receiver android:name=".OnBootBroadcastReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.QUICKBOOT_POWERON" />
            </intent-filter>
        </receiver>

        <activity android:name=".BrowserActivity"
                  android:label="@string/mySkyDrive">
        </activity>

        <activity android:name=".UploadFileActivity"
                  android:label="@string/uploadToSkyDrive"
                />

        <activity android:name=".FileBrowserActivity"
                  android:label="@string/savedFiles"
                />


        <activity android:name=".AudioControlActivity"
                  android:uiOptions="none"
                  android:theme="@style/LightTheme"/>

        <activity android:name=".AudioPlayQueueActivity"
                  android:label="@string/audioQueue"
                  android:uiOptions="none"
                  android:theme="@style/LightTheme"/>

        <activity android:name=".PlayVideoActivity"
                  android:theme="@style/LightTheme"/>

        <activity android:name=".ImageGalleryActivity"
                  android:uiOptions="none"
                  android:theme="@style/LightTheme"/>


        <activity android:name=".dialogs.NewFolderDialog"
                  android:label="@string/createFolder"
                  android:theme="@style/LightThemeDialog"
                />

        <activity android:name=".dialogs.RenameDialog"
                  android:theme="@style/LightThemeDialog"/>

        <activity android:name=".dialogs.SharingDialog"
                  android:theme="@style/LightThemeDialog"/>

        <activity android:name=".dialogs.DownloadDialog"
                  android:label="@string/downloadFileCannotBeViewed"
                  android:theme="@style/LightThemeDialog"/>

        <activity android:name=".PreferencesActivity"
                  android:theme="@style/LightTheme">
            <intent-filter>
                <category android:name="android.intent.category.PREFERENCE"/>
            </intent-filter>
        </activity>

        <activity android:name=".WebActivity"
                  android:uiOptions="none"
                  android:theme="@style/LightTheme"/>

        <service android:label="@string/audioServiceName"
                 android:name=".AudioPlaybackService"
                 android:permission="android.permission.INTERNET"
                 android:exported="false"/>

        <service android:label="@string/serviceLabel"
                 android:name=".CameraObserverService"
                 android:permission="android.permission.INTERNET"
                 android:exported="false"/>

    </application>
</manifest> 
